[user]
	name = tesr
	email = jjsos019@hotmail.com
[safe]
	directory = /storage/emulated/0/Download/chatbot/Islamick-chat-bot-v2-main
	directory = /storage/emulated/0/Download/Islamick-chat-bot-v2-main (1)/Islamick-chat-bot-v2-main
	directory = /storage/emulated/0/Download/new
	directory = /storage/emulated/0/Download/neww
	directory = /storage/emulated/0/Download/neww
	directory = /storage/emulated/0/Download/neww
[http]
	postBuffer = 524288000
	lowSpeedLimit = 0
	lowSpeedTime = 999999
[core]
	compression = 9
